figure {
text-align: center;
}

.center{
border: solid 2px;
border-radius: 10px;
}

.main{
background-color: brown;
}

.menu{
text-align: center;
border: solid 5px red;
border-radius: 10px;

}

.musicallink{
font-style: italic;
font-weight: 10;
}
